BRIDGE_IDX_MENUDETAIL_URI=<REPLACE_WITH_APPROVED_PRODUCTION_HTTPS_MENUDETAIL_URI>
BRIDGE_IDX_ALLOWED_ENTRIES=["<REPLACE_WITH_APPROVED_PRODUCTION_ENTRY_UUID>"]
BRIDGE_INTEGRATION_ID=<REPLACE_WITH_APPROVED_PRODUCTION_INTEGRATION_ID>
BRIDGE_HOST_APP=<REPLACE_WITH_APPROVED_PRODUCTION_HOST_APP>
BRIDGE_ISSUER=<REPLACE_WITH_APPROVED_PRODUCTION_HTTPS_ISSUER>
BRIDGE_AUDIENCE=<REPLACE_WITH_APPROVED_PRODUCTION_AUDIENCE>
BRIDGE_JWKS_PUBLIC_URI=<REPLACE_WITH_CENTRAL_REACHABLE_PRODUCTION_HTTPS_JWKS_URI>
BRIDGE_SIGNING_KEYS=<REPLACE_WITH_PUBLIC_JWK_LIFECYCLE_AND_FILE_REFERENCE_JSON>
IDX_DESTINATION_MODE=<REPLACE_WITH_PUBLIC_ONLY_OR_ALLOWLISTED_NETWORKS>
IDX_ALLOWED_CIDRS=<REPLACE_IF_ALLOWLISTED_NETWORKS>
BRIDGE_TIMEOUT_MS=<REPLACE_WITH_APPROVED_LIMIT_MAX_5000>
BRIDGE_MAX_RESPONSE_BYTES=<REPLACE_WITH_APPROVED_LIMIT_MAX_262144>
BRIDGE_ALLOWED_ORIGINS=<REPLACE_IF_DISTINCT_ORIGIN>
